*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
}
body{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-content: center !important;
    min-height: 100vh !important;
    background: rgb(212, 212, 43) !important;
}
.card {
    
        background: rgba(248, 248, 54, 0.801) !important;
        padding: 20px !important;
        display: grid !important;
        font-size: 20px;
        place-items: center !important;
        text-align: center !important;
        color: black ;
        transition: 0.5s !important;
        position: relative;  
       
}
.card:hover{
    background: #e91e63 !important;
}
#a{
    color: black;
}


@media (max-width: 575.98px) {
 div.container_area_card{
     margin-left: 40px !important;
 }
 div .mb-3{
    max-width: 350px !important;
    margin-left: 34px !important;
 }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    div.container_area_card{
        margin-left: 25px !important;
    }
    div .mb-3{
       max-width: 350px !important;
       margin-left: 34px !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    
   
    
}
@media (min-width: 992px) and (max-width: 1199.98px) {
   
}

@media (min-width: 1200px) {
   
 }