@import url('http://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif;
    line-height: 20px;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: rgb(0, 0, 0)!important;
}
.box img{
    max-width: 100%;
}
.container{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: minmax(100px,auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
    padding: 10px;
}
.container .box{
    background: #FFFF66;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.container .box:hover{
    background: #e91e63;
}
.container .box img{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}
.container .box:nth-child(1){
    grid-column: span 3;
    grid-row: span 1;
}
.container .box:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
}
.container .box:nth-child(3){
    grid-column: span 1;
    grid-row: span 1;
}
.container .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 1;
}
.container .box:nth-child(5){
    grid-column: span 1;
    grid-row: span 1;
}
@media (max-width: 991px)
{
    .container{
        grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);
    }
    .container .box{
        grid-column: unset !important;
        grid-row: unset !important;
    }
}
a:link{
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: black;
}

a#logo img{
    max-width: 50%;
}
.box{
    align-content: center;
}

/*style do encontre seu esporte*/

.container .boxesporte{
    background: rgba(248, 248, 54, 0.801);
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: black;
    transition: 0.5s;
}
.container .boxesporte img{
    position: relative;
    max-width: 30%;
    margin-bottom: 10px;
}
.container .boxesporte:nth-child(1){
    grid-column: span 4;
    grid-row: span 1;
}
.btn.active span.nonCheckBoxAllow {
    display: none;
  }
  
  .btn.active span.checkBoxAllow {
    display: inline;
  }
  
  .btn span.nonCheckBoxAllow {
    display: inline;
  }
  
  .btn span.checkBoxAllow {
    display: none;
  }
  
  .alternativa {
    display: block;
    margin-bottom: 15px;
  }
  
  .alternativa input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .alternativa label {
    position: relative;
    cursor: pointer;
  }
  
  .alternativa label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .alternativa input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  } 

.encontrar {
 background-image: url('https://res.cloudinary.com/dt9b7pad3/image/upload/v1502810110/angle-down-dark_dkyopo.png');
   background-position: right center 5px;
}

@media (max-width: 991px)
{
    .container{
        grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);
    }
    .container .boxesporte{
        grid-column: unset !important;
        grid-row: unset !important;
    }
}
div.alternativa input{
    border-radius: 50%;
}
div.alternativa{
    padding: 10px;
    margin: 10px;
}
button#resultado{
    border-radius: 30%;
    padding: 10px;
    background: rgb(101, 101, 214);
}