@import url("http://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  line-height: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: rgb(209, 209, 54) !important;
  padding: 0;
}

a:link {
  text-decoration: none !important;
  color: inherit !important;
}

a:visited {
  color: black !important;
}

.centro{
    display: flex;
    justify-content: center;
    align-content: center;
    border: black solid 1px;
}

.main{
    padding: 1%;
}

.alinha{
    display: flex;
    justify-content: center;
    align-content: center;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    *{
        padding: 0;
    }
    li{
        padding-bottom: 10px;
        font-size: x-large;
        line-height: normal;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    *{
        padding: 0;
    }
    li{
        padding-bottom: 20px;
        font-size: xx-large;
        line-height: normal;
    }
}