@import url("http://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-content: center !important;
    min-height: 100vh !important;
    background: rgb(209, 209, 54) !important;
}

.card-title{
    color: black;
}

.card {
    background: rgba(255, 255, 0, 0.801) !important;
    display: grid !important;
    font-size: 20px;
    text-align: center !important;
    color: black;
    transition: 0.5s !important;
    position: relative;
    font-family: "Rubik", sans-serif !important;
}

.card img{
    color: inherit !important;
    display: block !important;
    margin: 0 auto;
}

.removeAncora{
    text-decoration: none !important;
    font-family: "Rubik", sans-serif !important;
}

.desativado{
    text-decoration: none !important;
    font-family: "Rubik", sans-serif !important;
}

.ativado:hover{
    background: #e91e63 !important;
}

.desativado:hover{
    content: url('/images/paginaEmConstrucao.png');
    height: 95%;
    width: 100%;
}

a {
    color: black !important;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
    #imgLateral{
        height: 100%;;
    }
    #imgLateral{
        margin-top: 100px;
        padding: 0;
    }
    #imgPrincipal{
        height: 300px;
        width: 100%;
    }
    .ativado{
        margin-top: 10px;
    }
    .desativado{
        margin-top: 10px;
    }
    .ultimo{
        margin-bottom: 10px;
    }
    *{
        font-size: 1.5rem  !important;
    }
}

@media only screen and (min-width: 992px){
    #imgLateral{
        margin-top: 200px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    *{
        padding: 0%;
        font-size: 2rem  !important;
    }
    #imgLateral{
        height: 100%;;
    }
    #imgLateral{
        margin-top: 100px;
        padding: 0;
    }
    #imgPrincipal{
        height: 300px;
        width: 100%;
    }
    .ativado{
        margin-top: 10px;
    }
    .desativado{
        margin-top: 10px;
    }
    .ultimo{
        margin-bottom: 10px;
    }
    *{
        font-size: 2rem  !important;
    }
}