@import url("http://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    line-height: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background-color: rgb(102, 255, 204) !important;
    padding: 0;
}

a:link {
    text-decoration: none !important;
    color: inherit !important;
}

a:visited {
    color: black !important;
}

.centro {
    display: flex;
    justify-content: center;
    align-content: center;
    border: black solid 1px;
}

.main {
    padding: 1%;
}

.alinha {
    display: flex;
    justify-content: center;
    align-content: center;
}
.centro
{
    background-color: rgb(255, 255, 102);
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
    * {
        padding: 0;
    }
    li {
        padding-bottom: 10px;
        font-size: x-large;
        line-height: normal;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    * {
        padding: 0;
    }
    li {
        padding-bottom: 20px;
        font-size: xx-large;
        line-height: normal;
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(251, 255, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(9, 104, 148);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  .barraDeProgresso{
    align-items: center;
    align-content: center;
    margin: 1% 5%;
  }
  .openbtn:hover {
    background-color: #444;
  }
  .sidenav a:hover{
    color: #f1f1f1!important;
  }